@{
    ViewData["Title"] = "Book a Table";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>Book a Table</h2>
        <p>
            We would love to welcome you to Tumba&nbsp;Bistro! To make a reservation, please give us a call or send us an email with your preferred date, time and number of guests.
        </p>
        <ul class="list-unstyled">
            <li><strong>Phone:</strong> +46 08 123 456</li>
            <li><strong>Email:</strong> reservations@tumbabistro.se</li>
            <li><strong>Address:</strong> Centralvägen 10, 147 30 Tumba</li>
        </ul>
        <p>
            You can also check available tables online through our admin interface.
        </p>
    </div>
</div>